/Lab3/venv
/Lab3/__pycache__
/Lab3/.idea
/.idea

/Lab3_no/venv
/Lab3_no/__pycache__
/Lab3_no/.idea

/Lab3_/venv
/Lab3_/__pycache__
/Lab3_/.idea

/Lab4/venv
/Lab4/__pycache__
/Lab4/.idea

/Lab5/venv
/Lab5/__pycache__
/Lab5/.idea


/Lab6/venv
/Lab6/__pycache__
/Lab6/.idea

/Lab7/venv
/Lab7/__pycache__
/Lab7/.idea